@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.star{
    color: red;
}

.PengaturanAkun{
    padding: 7rem 2rem;
}

.PengaturanAkun .pengaturan-title h3::before {
    content: " . ";
    background-color: #5A8BEB;
    color: #5A8BEB;
    border-radius: 5px;
    margin-right: 1.5rem;
  }

.pengaturan-box{
    border: 1px solid #36393E;
    margin-top: 3rem;
    border-radius: 5px;
    width: 60%;
}

.box-title{
    font-size: 20px;
    padding: 1.5rem;
    color: #36393E;
    border-bottom: 1px solid #36393E;
    width: 100%;
}

.on-box{
    padding: 1.7rem;
}

.profile{
    height: 100px;
    width: 100px;
    border-radius: 3px;
    background-color: #333;
    margin-bottom: 1.5rem;
}

.profile-btn{
    background-color: #5A8BEB;
    color: #eee;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
}

.form-on-box{
    margin-top: 1.5rem;
}

.form-on-box input{
    margin: 1rem 0;
}

.input-box, .input-box-bio {
    padding: 5px 10px;
}

.input-box{
    width: 70%;
    height: 30px;
}

.input-box-bio{
    width: 70%;
    height: 100px;
}

.profile-submit-btn{
    background-color: #5A8BEB;
    color: #eee;
    position: relative;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    margin-top: 1rem;
}

.profile-btn:hover .profile-submit-btn:hover{
    background-color: #3968c5;
}


/* Responsive */

@media screen and (max-width:756px){
    .pengaturan-box {
        width: 100%;
    }

    .input-box, .input-box-bio {
        width: 100%;
    }
}