.PelajaranDetail {
    padding: 7rem 2rem;
}

.lesson-detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson-detail-title h3::before {
    content: " . ";
    background-color: #5A8BEB;
    color: #5A8BEB;
    border-radius: 5px;
    margin-right: 1.5rem;
}

.btn-back-lesson {
    background-color: #5A8BEB;
    color: #eee;
    padding: 5px 16px;
    border-radius: 3px;
}

.lesson-detail-desc {
    margin: 4rem 0;
    display: flex;
}

.lesson-detail-desc img {
    margin-right: 3rem;
    margin-bottom: 2rem;
    width: 100px;
    height: 100px;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
}

.lesson-detail-desc p {
    width: 500px;
    margin-top: 20px;
}

.lesson-detail-study h4 {
    margin-bottom: 2rem;
}

.lesson-detail-study h6 {
    margin-top: 2rem;
}

.detail-study-boxs {
    display: grid;
    grid-template-columns: 1fr;
}

.study-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: #ddd;
}

.btn-start-study {
    background-color: #5A8BEB;
    color: #eee;
    padding: 5px 16px;
    border-radius: 3px;
    margin-left: 1rem;
}

/* Responsive */

@media screen and (max-width:756px){
    .lesson-detail-desc {
        flex-wrap: wrap;
        justify-content: center;
    }

    .lesson-detail-desc img {
        margin-right: 0;
    }

    .lesson-detail-desc p {
        text-align: center;
    }
}