.Pelajaran {
    color: #222;
}

.main-lessons {
    padding: 7rem 2rem;
}

.main-lessons h3::before {
    content: " . ";
    background-color: #5A8BEB;
    color: #5A8BEB;
    border-radius: 5px;
    margin-right: 1.5rem;
}

.cards-lessons {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card-lesson {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    height: 330px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2); 
    position: relative;
}

.card-lesson .logo-lesson {
    height: 7rem;
}

.card-lesson img {
    width: 5rem;
    margin: auto;
}

.card-lesson h4 {
    margin-bottom: 1rem;
}

.card-lesson p {
    color: #444;
    font-size: 0.8em;
}

.btn-wrapper {
    position: absolute;
    width: 75%;
    bottom: -5px;
}

.btn-lesson {
    background-color: #5A8BEB;
    color: #eee;
    position: relative;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-lesson:hover {
  background-color: #3968c5;
}

@media screen and (max-width: 597px){
    .btn-wrapper {
        width: 90%;
    }
}

