@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

/* Body */
.login-body{
    margin: 0;
    padding: 0;
    background: rgb(90,139,235);
    background: linear-gradient(90deg, rgba(90,139,235,1) 0%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* Box Login*/
.center{
    margin: 0 1rem;
    width: 400px;
    background: #eee;
    border-radius: 1rem;
}
  
.center h1{
    text-align: center;
    padding: 0 0 1rem 0;
}
 
/* Form */
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
  
.txt-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
  
.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none; 
    outline: none;
}
  
.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition:.5s;
}
  
.txt-field::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
}
  
.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -0.8rem;
    color: #5A8BEB;
}
  
.pass {
    margin: 1rem .5rem;
    font-size: 0.8rem;
    color: #666666;
}
  
.submit-btn{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #5A8BEB;
    border-radius: 1.5rem;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
  
.submit-btn:hover{
    background-color: #3669cf;
    transition:.5s;
}
  
.signup-link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
  
.signup-link a{
    text-decoration: none;
    color: #5A8BEB;
}
  
.signup-link a:hover{
    text-decoration: underline;
}