@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
    list-style: none;
}

.Bantuan {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #222;
}

.bantuan-title{
    margin-top: 5rem;
}

.Bantuan .bantuan-title h3::before {
  content: " . ";
  background-color: #5A8BEB;
  color: #5A8BEB;
  border-radius: 5px;
  margin-right: 1.5rem;
}

.bantuan-box{
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 30px;
  margin: 4rem 0;
  margin-bottom: 13rem;
}

.bantuan{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.bantuan h4 {
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.bantuan ul li a{
  color: #222;
  font-size: .9em;
  transition: all .3s;
}

.bantuan ul li a:hover {
  color: #5A8BEB;
  background: none;
}

.box-bantuan ul li a:visited {
  color: #222;
}