.Dashboard {
    padding: 8rem 2rem;
    color: #222;
}

.Dashboard .Dashboard-title-box {
    display: block;
    font-size: 17px;
}

.Dashboard-userInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
}

.Dashboard-userInfo  .userInfo-profile, .userInfo-lesson, .userInfo-submission {
    background-color: #eee;
    padding: 1rem;
    border-radius: 5px;
    height: 200px;
}

.Dashboard-userInfo .userInfo-profile {
    text-align: center;
}

.Dashboard-userInfo .userInfo-lesson, .userInfo-submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Dashboard-userInfo .userInfo-profile img {
    width: 60px;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    border: 1px solif black;
}

.Dashboard-userInfo .userInfo-lesson div, .userInfo-submission div {
    /* text-align: left; */
    margin-top: 10px;
    padding: 0;
}

.Dashboard-userInfo .userInfo-lesson div p, .userInfo-submission div p {
    display: inline-block;
    margin-right: 10px;
}

.Dashboard-lesson-progress {
    margin: 4rem 0;
}

.Dashboard-lesson-progress h3::before {
    content: "\002B";
    margin-right: 1.5rem;
    background-color: #5A8BEB;
    padding: 4px 11px;
    color: #eee;
    border-radius: 3px;
}

.Dashboard-lesson-progress .Dashboard-box-lesson-progress {
    background-color: #eee;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 5px;
}

.Dashboard-lesson-recom {
    margin-bottom: 5rem;
}

.Dashboard-lesson-recom h3::before {
    content: "\2713";
    margin-right: 1.5rem;
    background-color: #5A8BEB;
    padding: 4px 11px;
    color: #eee;
    border-radius: 3px;
}

.Dashboard-lesson-recom .Dashboard-box-lesson-recom {
    background-color: #eee;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 1rem;
}

.Dashboard-box-lesson-recom .lesson-recom-cards {
    padding: 1rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.lesson-recom-cards div {
    padding: 2em;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    position: relative;
}

.lesson-recom-cards h4 {
    margin: 1.5rem 0;
    font-size: 17px;
}

.lesson-recom-cards p {
    margin-bottom: 3rem;
}

.lesson-recom-cards a {
    position: absolute;
    width: 100%;
    color: #eee;
    background-color: #5A8BEB;
    padding: 1rem 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    bottom: 0;
}

.lesson-recom-cards a:hover {
    background-color: #3968c5;
    padding: 1.1rem 0;
    transition: all 0.3s;
}

@media screen and (max-width: 756px){
    .Dashboard-userInfo {
        gap: 2rem;
    }

    .Dashboard .userInfo-lesson, .userInfo-submission {
        height: 130px;
    }
}