@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}  

.container{
  margin: 0;
  padding: 0;
  background-color:  #f1f1f1;
  width: 100%;

}

/* Header */

.header{
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header a{
  color: black;
  padding: 12px;
  border-radius: 4px;
}

.header a.logo{
  font-size: 25px;
  font-weight: bold;
}

.header a.secondary:hover {
  background-color: #ddd;
}

.dot {
  color: red;
}
 
.rectangle {
  margin-right: 1rem;
}

.header-right a:not(:nth-child(3)){
  margin-right: 1rem;
}

.header .active{
  background-color: #5A8BEB;
  color: white;
}

.active:hover {
  background-color: #3968c5;
}


/* Jumbotron */

.main {
  background:#fff;
}

.main-background{
  background: url('https://i.postimg.cc/rs59cnmt/background.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
}

.title{
  margin: 0 auto;
  text-align: center;
  padding-top: 250px;
  color: #222;
}

.title2{
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  color: #222;
}

.btn{
  text-align: center;
  padding-top: 30px;
}

.button{
  padding: 15px 60px;
  background-color: #5A8BEB; 
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

/* Main Content */

.another-title{
  text-align: center;
  padding: 8rem 0 3rem 0;
}

.another-title p{
  font-size: 20px;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 8rem;
}

.card{
  padding: 40px;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  background-color: rgb(245, 245, 245);
}

.card-title {
  margin: 16px 0;
}

.card-title h3{
  text-align: center;
  font-size: 22px;
  margin-bottom: 1rem;
}

.card-title p {
  text-align: center;
  color: #222;
}

.main-content{
  display: flex;
}

/* Footer */

.footer{
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #36393E;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-logo p{
  overflow: hidden;
  padding: 0 40px;
  font-size: 25px;
}

.footer-right{
  display: flex;
}

.footer-right h3{
  margin-bottom: 10px;
  color: #eee;
}

.footer-right ul{
  margin: 0;
  list-style: none;
}

.footer-right div:not(:last-child){
  margin-right: 5rem;
}

.footer-right {
  margin-left: 3rem;
}

.footer-right ul li a {
  color: #aaa;
} 

.footer-bottom p{
  font-size: 13px;
  padding-top: 2rem;
  margin-left: 2rem;
  color: #aaa;
}

/* Responsive */

@media screen and (max-width:750px){
  /* Header */
  .header .secondary {
    display: none;
  }

  /* Main */
  .main-background {
    font-size: 1rem;
  }

  .title {
    padding-top: 10rem;
  }

  .card:hover {
    transform: scale(1);
    background: none;  
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
              -1px -1px 10px rgba(0,0,0,0.1);
  }

  /* Footer */
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-right {
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 2.6rem;
  }

  .layanan {
    margin-bottom: 1rem;
  }
}