body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
    
/* Header User */

* {
  box-sizing: border-box;
}

.Header-User{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 99;
}


.Header-User .header-user-left {
  font-size: 25px;
  font-weight: bold;
}

.Header-User .header-user-left a {
  color: #222;
}

.Header-User .header-user-left a:hover {
  background: none;
}

.Header-User .header-user-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Header-User .header-user-right img{
  border-radius: 50%;
  /* border: 2px solid rgb(228, 228, 228); */
  width: 32px;
  margin: 0;
  margin-right: 10px;
}

.Header-User .header-user-right span:not(:nth-of-type(2)){
  margin-right: 10px;
  color: #222;
}

.Header-User .header-user-right .icon-nav {
  font-size: 1.5rem;
  transform: rotate(-90deg);
}

/* Toggle Nav */

.header-user-toggle {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #f1f1f1;
  width: 30%;
  display: none;
  padding: 2rem;
  transition: 0.5s;
  height: 100vh;
}

.header-user-toggle ul {
  list-style: none;
}

.header-user-toggle li:not(:first-child) {
  margin: 2rem 0;
  position: relative;
}

.header-user-toggle li:nth-of-type(3)::after {
  content: "";
  width: 80%;
  height: 2px;
  bottom: -25px;
  left: 0;
  position: absolute;
  background-color: #5A8BEB; 
}

.header-user-toggle li:nth-of-type(3) {
  margin-bottom: 3rem;
}

.header-user-toggle a {
  text-decoration: none;
  color: #222;
}

.header-user-toggle a:hover {
  background: none;
}

.nav-active {
  display: block;
}

@media screen and (max-width:756px){
  .header-user-toggle {
    width: 50%;
  }
}